body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: white;
  color: #333;
}


.top-bar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-bar {
  background-color: #804000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  font-weight: 500;
  margin-top: 20px;
}

.top-bar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 30px;
  width: auto;
}
.eventline-title {
  font-weight: bold;
  font-size: 14px;
  color: white;
}
.heading-igdtuw {
  margin-left: 30px;
}

.igdtuw-text {
  color: #9b5500;
  font-weight: bold;
  font-size: 40px;
}

.event-call-text {
  font-size: 16px;
  font-weight: 400;
  margin-left: 8px;
  margin-top: 30px;
  color: #333;
}



/* Sign Up Container */
.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.signup-container h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}

.icon {
  font-size: 28px;
  margin-right: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-weight: 500;
}

form input {
  padding: 10px;
  font-size: 16px;
  background-color: #fef7e9;
  border: none;
  border-radius: 10px;
}

.signup-btn {
  background-color: #854d1e;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
  color: #444;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 30%;
  background-color: #ccc;
  position: absolute;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.google-signin {
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Login link */
.login-link {
  text-align: center;
  font-size: 14px;
}

.login-link a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/* Footer brown bar */
.footer-bar {
  background-color: #854d1e;
  height: 30px;
  margin-top: 30px;
}



